# configuration for the EISMINT-3 Greenland test-case

[grid]
# grid sizes
ewn = 83
nsn = 141
upn = 11
dew = 20000
dns = 20000

[options]
temperature = 1
flow_law = 0
sliding_law = 4
marine_margin = 4
stress_calc = 2
evolution = 0
basal_water = 2
vertical_integration = 0
topo_is_relaxed=1

[isostasy]
lithosphere=1
asthenosphere=1
relaxed_tau=3000.0

[time]
tend = 100000.
dt = 1.
ntem = 10.
nvel = 20.
niso = 10.

[parameters]
flow_factor = 3.0
geothermal = -50e-3
marine_limit = -200.0
ice_limit=100.0

[CF default]
title: EISMINT-3 Greenland
comment: Steady-state scenario

[CF output]
name: e3gl_steady.1ka.nc
frequency: 1000
variables: thk bmlt btemp temp uvel vvel wvel wgrd acab diffu artm usurf topg relx flwa

[CF input]
name: EISMINT3GL.input.nc
